*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    }   
   
   body {
        font-family: sans-serif;
        background-image: linear-gradient( rgb(253, 173, 147, 1) 2%, rgb(255, 207, 224, 1) 20%, rgb(241, 173, 151, 1) 41%, rgb(255, 207, 224, 1) 64%, rgb(238, 168, 146, 1) 81%, rgb(255, 207, 224, 1) 100%);
        overflow-y:scroll;
        overflow-x:hidden;        
    }

    @media screen and (max-width: 768px) {
        body {
            margin: 0;
            padding: 0 auto;
            background-image: linear-gradient( rgb(253, 173, 147, 1) 2%, rgb(255, 207, 224, 1) 20%, rgb(241, 173, 151, 1) 41%, rgb(255, 207, 224, 1) 64%, rgb(238, 168, 146, 1) 81%, rgb(255, 207, 224, 1) 100%);
            background-repeat:no-repeat;
            background-size:300%; /* A imagem cobrirá todo o corpo */
            background-position: center;
            margin-left: 5px; /* Remova margens do corpo para cobrir toda a tela */
            padding: 0; /* Remova preenchimento do corpo para cobrir toda a tela */                  
            margin-right: -45px;
            overflow-y:scroll;
            overflow-x:hidden;
            
        }
        
        }

    header {
        background-image: url(./backfround.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        padding-top: 18px;
        margin-bottom: 65px;
        
    }

    header h1{
        padding: 12px;
        color: rgb(207, 8, 58);
        font-family: "Dancing Script", cursive;
        font-style: normal;
        font-weight: lighter;
        font-style: italic;
        margin-left: 50px;
        margin-top: -15px;
        
    }

    header > .container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
    }

    header > .container h1 {
        padding-top: 50px;
        font-size: 60px;
    }


    @media screen and (max-width: 768px) {
        header {
    
            background-image: url(./backfround.jpg);
            background-repeat:no-repeat;
            background-size: cover;
            color: rgb(107, 12, 35);
            padding: 8px ; 
            padding-top: 45px; 
            margin-bottom: 15px;
            margin-right: -75px;
                    
        }
                    
    }


    @media screen and (max-width: 768px) {
        .header img {
            width: 20%; /* Defina a largura desejada, como 100% */
            background-image: url(./backfround.jpg);
            background-repeat:no-repeat;
            background-size: cover;           
                                       
        }
            
        }
        
    
        @media screen and (max-width: 768px){
            header h1 {
                margin-right:65px;
                margin-bottom: 19px;
                margin-top: -10px;
            }
        }
   


    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px;        
        
    }

    .menu {
        justify-content:left;       
        display: flex;
        margin-left: 60px;
    }

    
    .menu li {
        list-style: none;
        display: inline;
        margin-right: 16px;
        font-size: 12px;
        text-transform: uppercase;
        
    }

    .menu li a {
        color: rgb(207, 8, 58);
        text-decoration: none; 
        font-size: 15px;     
        
    }

    .menu li a {
        color: rgb(207, 8, 58);
        text-decoration: none;
        font-family: "Dancing Script", cursive;
        font-style: normal;
        
    }

    @media screen and (max-width: 768px){
        nav li a {
            color: rgb(207, 8, 58);
            text-decoration: none;
            font-family: "Dancing Script", cursive;
            font-style: normal;
            
        }
    }


    .procedimentos {
        text-align: center;
        font-size: 18px;
        margin-bottom: -190px;
    }

    .descricao p {
       
        margin-bottom: -690px;
        font-size: 14px;
        color:black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    }

    .henna h2 {
        text-align: left;
        font-size: 18px;
        font-family: "Dancing Script", cursive;
        margin-bottom: 50px;
        font-family: "Dancing Script", cursive;
        margin-top: 25px;
        margin-left: 55px;
    }

    .henna img{
        padding: 0, auto;
        padding-top: 10px;
        height: 20px;
        width: 60%;
        margin-bottom: -55px;
        margin-left: 520px;
       
    }

  .henna2 img {
    margin-bottom: 150px;
}

     h3{
        text-align: left;
        font-size: 48px;
        margin-bottom: 50px;
        font-family: "Dancing Script", cursive;
        margin-top: 25px;
        margin-left: 55px;
    }

    .design img {
        padding: 0, auto;
        padding-top: 10px;
        height: 20px;
        width: 70%;
        margin-bottom: -55px;
        margin-left: 420px; 
    }



    section {
        padding: 48px 0;
    }

    section h2 {
        margin-bottom: 16px;
    }

       .social-links {
        display: flex; /* Transforma a lista em um flex container */
        justify-content: center; /* Centraliza os itens horizontalmente */
        cursor: pointer
    }
    
    .social-links img {
        height: 25px;
        margin-top: 10px;
        margin-left: 30px; 
        padding-right: 50px;
                
    }
    
    
    .social-links li {
        margin-left: -35px;
        display: inline;
        margin: right -50px; 
        
    }
    
    .social-links li a {
        margin-right: -30px;
        text-align: center;
        
        
    }


    .social-links li p {
        text-align: right;                      
    } 


    @media screen and (max-width: 768px) {
        .social-links img {
        height: 18px;
        padding-left: 20px;
        justify-content: center;
        margin-right: -250px;
                    
        }
     }

    
        @media screen and (max-width: 768px) {
        .social-links li {
        height: 18px;
        align-items: center;            
        margin-right: -25px;

        }
    }                                      


        @media screen and (max-width: 768px) {
        .social-links {
        height: 18px;
        align-items: center;            
        margin-right: -200px;
                              
        }
    }


    .contact{
        text-align: center;
        margin-right: 900px;
        margin-bottom: 10px;
        }

   
    footer {
        
        background-image: url(./backfround.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        color: rgb(107, 12, 35);
        padding: 8px ; 
        padding-top: 45px; 
        margin-bottom: -5px;
                
    }

    footer a {
        color:rgb(71, 2, 31);
        padding: 16px 0;   
        text-decoration: none; 
        text-align: center; 
       
    }

        
    footer p {
       text-align: center;
       margin-left: 200px;
    }
        

         @media screen and (max-width: 768px) {
            footer {
        
                background-image: url(./backfround.jpg);
                background-repeat:no-repeat;
                background-size: cover;
                color: rgb(107, 12, 35);
                padding: 8px ; 
                padding-top: 45px; 
                margin-bottom: -5px;
                margin-right: -75px;
                        
            }
                        
        }

        @media screen and (max-width: 768px) {
            .container-footer p{
                margin-left: 10px;
                font-size: 10px;
                text-align: center;
                padding-bottom: 11px;
           }
                            
            }


         @media screen and (max-width: 768px){
        .contact h3 {
        text-align: center;
        font-size: 12px;
        margin-right: -365px;
        font-size: 12px;
        }

        .contact{
            text-align: center;
            margin-bottom: 10px;
            margin-right:1853px ;
           
            }

        }
               
        .contact_dress {
        text-align:center;
        margin-left: -60px;
        padding-top: 30px;
        font-size: 10px;
        margin-right: -20px;
        }
        
        @media screen and (max-width: 768px){
        .contact_dress{
        text-align:center;
        margin-left: -60px;
        padding-top: 30px;
        font-size: 12px;
        margin-right: -385px;
        padding-bottom: 10px;
        }

        @media screen and (max-width: 768px){
            .contact_dress p {
                padding-bottom: 8px;
                margin-left: 120px; 
            }
        }
    }

       

            .procedimentos h2 {
                margin-bottom: 250px;
                font-family: "Dancing Script", cursive;
                color: black;
            }

            .descricao {
                margin-bottom: 750px;
                color: black;
            }

            .sobrancelhas {
                display: flex; /* Transforma a lista em um flex container */
                justify-content: center; /* Centraliza os itens horizontalmente */
                cursor: pointer               

            }

            .about  {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
            }

                      
            @media screen and (max-width: 768px) {
                .about  {
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
                    margin-right: -50px;
                    font-size:15px;
                }

        }

        @media screen and (max-width: 768px) {
            .about-depil  {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
                margin-right: -20px;
                margin-left: -18px;
                font-size:15px;
                margin-bottom: 15px;
            }

    }

        @media screen and (max-width: 768px) {
            .descricao  {
                text-align: center;
                padding-top: 12px;
            }

            .descricao h2 {
                text-align: center;
                margin-bottom: -550px;
                color: black;
            }

            .descricao p {
                margin-bottom: 750px;
                margin-top: 500px;
                color: black;
                margin-left: 55px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
                margin-right: -50px;
                font-size:15px;
               
            }
        }

       
        @media screen and (max-width: 768px) {
            .procedimentos {
                text-align: center;
                font-size: 18px;
                margin-bottom: -690px;
            }
        
            .descricao p {
                text-align:center;
                margin-bottom: -690px;
            }
        
            .henna h2 {
                text-align: left;
                font-size: 20px;
                margin-bottom: 50px;
                font-family: "Dancing Script", cursive;
                margin-top: 25px;
                margin-left: 15px;
                margin-right: 50px;
            }
        
            .henna img{
                padding: 0, auto;
                padding-top: 10px;
                height: 20px;
                width: 30%;
                margin-bottom: -55px;
                margin-left: 350px;
               
            }
        
          .henna2 img {
            margin-bottom: -150px;
        }
        
            .design h2{
                text-align: left;
                font-size: 20px;
                margin-bottom: 50px;
                font-family: "Dancing Script", cursive;
                margin-top: 25px;
                margin-left: 15px;
                margin-right: 50px;
            }
        
            .design img {
                padding: 0, auto;
                padding-top: 10px;
                height: 20px;
                width: 45%;
                margin-bottom: -55px;
                margin-left: 280px; 
            }
        
            .trabalho img {
                
                align-items:center;            
                margin-left: 160px;
            }

        }

        #carousel-imagens {
            height:600px; 
            max-width: 100%;        
            padding-left: 500px;
            text-align: center;
            margin-left: -260px;
            margin-bottom: -255px;
            
        }
    
    
        #carousel-imagens img {
            max-width: 60%; 
            height: 300px; 
           
        }

        .carousel-imagens {
            display: flex; /* Torna o conteúdo do elemento flexível */
            flex-direction: column; /* Organiza os itens verticalmente */
            align-items: center; /* Centraliza os itens horizontalmente */
            text-align: center; /* Centraliza o conteúdo dentro do elemento */
        }

            

        @media screen and (max-width: 768px) {
            #carousel-imagens {
                height: 200px;
                max-width: 420px;
                margin: 150px auto 0; /* Ajuste para centralizar verticalmente e remover margens desnecessárias */
                padding: 0 5px; /* Ajuste do padding para ambos os lados */
                text-align: center;
                margin-bottom: 50px ;
                margin-top: 15px;
                
            }
        }

           
         .henna h2 {
            font-family: "Dancing Script", cursive;
            font-size: 28px;
            margin-bottom: 10px;
            margin-left: 20px;
        }

        .henna img{
           height: 130px;
           width: 150px;
           margin-bottom: 20px;
           margin-left: 70px;
           border-radius: 800px;
        }

        .depilacao {
            font-size: 14px;
            margin-left: 20px;
            text-align:justify;
            color:black;
        }

        .depilacao h2 {    
            font-size: 18px;        
            font-family: "Dancing Script", cursive;
            margin-bottom: 45px;
            margin-top: 50px;
            margin-left: 20px;
        }

        .depilacao img {
            height: 180px;
            margin-left: 70px;
           
        }
